
<!--
<div class="p-3 border-dark" style="background-color:#f4f8fb;">
<div class="container text-center mt-3">
<h4>Sign up for newsletter and blog post updates</h4>
<hr class="w-100">

<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
</style>
<div id="mc_embed_signup">
<form action="https://linkedin.us11.list-manage.com/subscribe/post?u=5061092201a756e691d5a9fe1&amp;id=58fab6e0d9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">

<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div>
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5061092201a756e691d5a9fe1_58fab6e0d9" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>
</div>
-->
<footer class="pt-5 pb-4 border-top border-dark">
<div class="container">
<div class="row">
  <div class="col-md-4 p-3">
  <h4 class="text-uppercase">About Us</h4>
  <hr class="w-100"/>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12398.331674230849!2d-123.11804233181174!3d49.21140652225599!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1264dca051716884!2sSEO%20Soul!5e0!3m2!1sen!2sca!4v1590363628688!5m2!1sen!2sca" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  </div>
<div class="col-md-4 p-3">
<h4 class="text-uppercase">Our Services</h4>
<hr class="w-100">
<ul class="list-unstyled text-small">
<li><a class="disabled text-muted">Search-engine Optimization</a></li>
<li><a class="disabled text-muted">Web Design & Development</a></li>
<li><a class="disabled text-muted">Content Creation & Distribution</a></li>
<li><a class="disabled text-muted">Search-engine Marketing</a></li>
<li><a class="disabled text-muted">Social Media Management</a></li>
</ul>
</div>
<div class="col-md-4 p-3">
<h4 class="text-uppercase">Web Resources</h4>
<hr class="w-100"/>
<ul class="list-unstyled text-small">
<li><a href="https://www.w3.org/">World Wide Web Consortium (W3C)</a></li>
<li><a href="https://developer.mozilla.org/en-US/">Mozilla Developer Network (MDN) Web Docs</a></li>
<li><a href="https://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=23601">Canadian Standards on Web Accessibility</a></li>
<li><a href="https://support.google.com/webmasters/answer/7451184?hl=en">Search-engine Optimization Starter Guide by Google</a></li>

</ul>
</div>
</div>
<div class="row mt-3">
  <div class="col">
    <p>"Build something 100 people love, not something 1 million people kind of like."
      <br/><small><span class="text-muted">— Brian Chesky, Co-Founder & CEO, Airbnb</span></small></p>
    <p>
      <a href="https://www.facebook.com/seosoul/"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.youtube.com/channel/UCnIi0wVf0uGyZB29ephEvjw"><i class="fab fa-youtube px-3"></i></a>
    </p>
    <p><small class="text-uppercase">© 2017-2020 <span class="text-muted">SEO Soul & Ryan Choi</span></small></p>
    </div>
  </div>
</div>
</footer>
