  <footer class="pt-5 pb-4 border-top border-dark">
<div class="container">
    <div class="row">
<div class="col-8">
<div class="row">
      <div class="col-6 col-md">
        <h4 class="text-uppercase">Services</h4>
<hr class="w-100">
        <ul class="list-unstyled text-small">
          <li><a href="#">Search-engine Optimization</a></li>
          <li><a href="#">Web Design & Development</a></li>
          <li><a href="#">Content Creation & Distribution</a></li>
          <li><a href="#">Search-engine Marketing</a></li>
          <li><a href="#">Social Media Platform Management</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h4 class="text-uppercase">Resources</h4>
<hr class="w-100"/>
        <ul class="list-unstyled text-small">
          <li><a href="#">Resource</a></li>
          <li><a href="#">Resource name</a></li>
          <li><a href="#">Another resource</a></li>
          <li><a href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h4 class="text-uppercase">About</h4>
<hr class="w-100"/>
        <ul class="list-unstyled text-small">
          <li><a href="/legal">Legal</a></li>
        </ul>
      </div>
    </div>
</div>
<div class="col-4">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12398.331674230849!2d-123.11804233181174!3d49.21140652225599!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1264dca051716884!2sSEO%20Soul!5e0!3m2!1sen!2sca!4v1590363628688!5m2!1sen!2sca" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
</div>
</div>
<div class="row">
  <div class="col-6 col-md">
    <p><small class="text-uppercase">© 2017-2019 SEO Soul | <a href="/legal">Privacy & Legal</a></small></p>
  </div>
  <div class="col-6 col-md text-right">
<!-- SOCIAL MEDIA SECTION -->
  </div>
</div>
</div>
  </footer>
