{% assign html_head = true %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <link rel="canonical" href="{{ site.url }}{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ page.url }}" />
  <link rel="shortcut icon" href="{{ site.favicon }}" type="image/png" />
  <link rel="stylesheet" type="text/css" href="assets/built/bootstrap-reboot.css" />
  <link rel="stylesheet" type="text/css" href="assets/built/bootstrap-grid.css" />
  <link rel="alternate" type="application/rss+xml" title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" href="{{ site.baseurl }}feed.xml" />
  {% include google_js.html %}
  {% include social-cards.html %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Website",
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}",
      "logo": "{{ site.url }}{{ site.baseurl }}{{ site.logo }}"
    },
    "url": "{{ site.url }}{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ page.url | remove_first: '/' }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.baseurl }}{% if page.cover %}{{ page.cover }}{% else %}{{ site.cover }}{% endif %}",
      "width": 2000,
      "height": 666
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ page.url | remove_first: '/' }}"
    },
    "description": "{% if excerpt %}{{ excerpt }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
  }
</script>

{% assign html_head = false %}