<!DOCTYPE html>
<html>
<head>
  {%- include head.html -%}
</head>
<body class="{% if paginator.page > 1 %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %}">
  {%- include google_js.html -%}
  <div class="site-wrapper">
    {{ content }}

    <!-- Previous/next page links - displayed on every page -->
    {% if paginator.total_posts > site.paginate %}
    {% if page.class == 'home-template' %}
    {% include post_pagination.html %}
    {% elsif page.class == 'page-template' %}
    {% include post_pagination.html %}
    {% elsif page.class == 'author-template' %}
    {% include author_pagination.html %}
    {% elsif page.class == 'tag-template' %}
    {% include tag_pagination.html %}
    {% else %}
    {% include post_pagination.html %}
    {% endif %}
    {% endif %}

    <!-- The footer at the very bottom of the screen -->
    <footer class="site-footer outer">
      <div class="site-footer-content inner">
        <section class="copyright">Ryan Choi &copy; {{  site.time | date: '%Y' }}</section>
      </div>
    </footer>

  </div>

  {% if paginator.total_pages > site.paginate %}
  <script>
  var maxPages = parseInt('{{ paginator.total_pages }}');
</script>
<script src="{{ site.baseurl }}assets/js/infinitescroll.js"></script>
{% endif %}

</body>
</html>
